main{
    display: flex;
    width: 80%;
    flex-direction: row;
    margin: auto;
    font-family: myFirstFont;
    padding: 0px;
}

#izquierda{
    width: 40%;
    background: linear-gradient(176deg, rgba(117,114,119,1) 0%, rgba(89,86,86,1) 42%, rgba(0,0,0,1) 100%);
    padding: 5px;
    color: #ffffff;
}
#foto{
    width: 100%;
}
#reference{
    margin-bottom: 5%;
}
#reference > div > a{
    color: white;
}
.people{
    margin-top: 5%;
}
.yellow_sqr{
    width: 10%;
    height: 21px;
    background-color: #ffb901;
    float: left;
    height: max-co;
}
.gray_desc{
    background-color: #474646;
    width: 90%px;
}
.info{
    margin-left: 10%;
    margin-bottom: 2%;
}
.black_info{
    padding: 0% 5%;
}
.black_info > a{
    color: white;
}

.black_info > hr{
    border-color: #ffb901;
}

.info > a{
    color: white;
}

#derecha{
    width: 60%;
}
#name{
    background: rgb(20,20,19);
    background: linear-gradient(351deg, rgba(20,20,19,1) 0%, rgba(255,185,0,1) 42%);
    padding: 30px 50px;
    margin-top: 80px;
}
#aboutme{
    padding: 10px 30px;
}
#work_experience{
    padding: 10px 30px;
}
.work{
    display: flex;
    flex-direction: row;
    
}
.years{
    width: 20%;
    display: flex;
    text-align: center;
    /* background-color: #ffb901; */
}
/* .job-name{
    background-color: #ffb901;
} */
.right{
    width: 80%;
    display: flex;
    flex-direction: column;
}
#software_skill{
    padding: 10px 30px;
}
#skill-list{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.skills > h4{
    margin: 20px;
    -webkit-transition: color 0.5s; /* For Safari 3.0 to 6.0 */
    transition: color 0.5s; /* For modern browsers */   
}
.skills > h4:hover {
    color: #ffb900;
}
.skills{
    width: 33.3333%;
    text-align: center;
}
#certifications{
    margin-bottom: 5%;
}
footer{
    display: flex;
    width: 70%;
    flex-direction: row;
    margin: auto;
    font-family: myFirstFont;
    background-color: #000000;
    color: #ffffff;
    padding: 2% 5%;
    justify-content: space-between;
}
footer a{
    color: white;
}
@font-face {
    font-family: myFirstFont;
    src: url(../fonts/RobotoSlab-VariableFont_wght.ttf);
  }
@media screen and (max-width: 480px) {
    main {
        display: flex;
        width: 100%;
        flex-direction: column;
    }
    #izquierda{
        width: 98%;
    }
    #derecha{
        width: 100%;
    }
    #name{
        margin-top: 0px;
    }
    .skills{
        width: 50%;
        text-align: center;
    }
    .work{
        display: flex;
        flex-direction: column;
        margin-top: 5%;
        
    }
    .years{
        width: 100%;
        display: flex;
        align-self: center;
        text-decoration: underline;
    }
    .right{
        width: 100%;
        display: flex;
        flex-direction: column;
    }
    .black_info{
        padding: 0%;
    }
    footer{
        display: flex;
        width: 90%;
        flex-direction: row;
        margin: auto;
        font-family: myFirstFont;
        background-color: #000000;
        color: #ffffff;
        padding: 2% 5%;
        justify-content: space-evenly;
    }
    #copyright{
        display: none;
    }
    #socialmedia{
        display: none;
    }
  }
  @media screen and (min-width: 481px) and (max-width:900px) {
    main {
        display: flex;
        width: 100%;
        flex-direction: row;
    }
    #izquierda{
        width: 38%;
    }
    #derecha{
        width: 60%;
    }
    #name{
        margin-top: 0px;
    }
    .skills{
        width: 50%;
        text-align: center;
    }
    .work{
        display: flex;
        flex-direction: column;
        margin-top: 5%;
        
    }
    .years{
        width: 100%;
        display: flex;
        align-self: center;
        text-decoration: underline;
    }
    .right{
        width: 100%;
        display: flex;
        flex-direction: column;
    }
    .black_info{
        padding: 0%;
    }
    footer{
        display: flex;
        width: 90%;
        flex-direction: row;
        margin: auto;
        font-family: myFirstFont;
        background-color: #000000;
        color: #ffffff;
        padding: 2% 5%;
        justify-content: space-evenly;
    }
    #copyright{
        display: none;
    }