main{
    display: flex;
    width: 80%;
    flex-direction: row;
    border: 1px black solid;
}

#izquierda{
    width: 40%;
    background-color: #252424;
    padding: 5px;
    color: #ffffff;
}
.yellow_sqr{
    width: 10%;
    height: 15px;
    background-color: yellow;
    float: left;
}
.gray_desc{
    background-color: #474646;
    height: 15px;
    width: 90%px;
}
#foto{
    width: 100%;
}
main{
    margin: auto;
}
.info{
    margin-left: 10%;
}
#derecha{
    width: 60%;
}
#name{
    background-color:#fae714 ;
    padding: 30px 50px;
    margin-top: 80px;
}
#aboutme{
    padding: 10px 30px;
}
.black_info{
    padding: 0% 10%;

}
.black_info > a{
    color: white;
}

.info > a{
    color: white;
}
#work_experience{
    padding: 10px 30px;
}
.work{
    display: flex;
    flex-direction: row;
}
.years{
    width: 20%;
    display: flex;
    align-self: center;
}
.right{
    width: 80%;
    display: flex;
    flex-direction: column;
}
#software_skill{
    padding: 10px 30px;
}
#skill-list{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.skills{
    width: 33.3333%;
    text-align: center;
}
@media screen and (max-width: 600px) {
    .skills{
        width: 50%;
        text-align: center;
    }
    main {
        display: flex;
        width: 100%;
        flex-direction: row;
        border: 1px black solid;
    }
  }